*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 70%);
  --background-color: hsl(var(--hue), var(--saturation), 22%);
}
body {
  background: var(--background-color);
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  /* cursor: none; */
  display: grid;
  place-content: center;
  height: 100vh;
}
.paddle {
  --position: 50;
  position: absolute;
  background-color: var(--foreground-color);
  height: 1.5vh;
  border-radius: 10px;
  width: 12.5vw;
  left: calc(var(--position) * 1vw);
  transform: translateX(-50%);
}

.paddle.top {
  top: 1.5vh;
  box-shadow: 0 -3px 5px 1px rgba(255, 255, 255, 0.2);
}

.paddle.bottom {
  box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.2);
  bottom: 1.5vh;
}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: var(--foreground-color);
  width: 3.5vmin;
  height: 3.5vmin;
  border-radius: 50%;
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) * 1vw);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.score-wrapper {
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  display: flex;
  place-content: center;
  place-items: center;
  color: var(--foreground-color);
  font-weight: bold;
  font-size: 8vh;
}

.score-wrapper.won {
  box-shadow: 0 0 20px 5px hsl(120, 100%, 65%);
  animation: animate 200ms linear infinite;
}
.score-wrapper.lost {
  box-shadow: 0 0 20px 5px hsl(0, 100%, 65%);
  animation: animate 200ms linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-10%, -2%);
  }
  25% {
    transform: translate(10%, 2%);
  }
  50% {
    transform: translate(-10%, -2%);
  }
  100% {
    transform: translate(10%, -2%);
  }
}

.score {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 4vh;
  opacity: 0.6;
  color: hsl(0.5, 100%, 75%);
}
.score-wrapper > :first-child {
  color: hsl(120, 100%, 75%);
  text-align: right;
  border-right: 3.5px solid var(--foreground-color);
}

.start-modal {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 40vmax;
  height: 22vmax;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 7vh;
  color: aliceblue;
  z-index: 99;
}

.start-modal.close {
  display: none;
}

button {
  outline: none;
  border: none;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  color: whitesmoke;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.05);
  width: 6vw;
  height: 6vh;
  border-radius: 6px;
  font-size: 2.5vmin;
  cursor: pointer;
}
