*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 70%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}
body {
  background: var(--background-color);
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  /* cursor: none; */
  display: grid;
  place-content: center;
  height: 100vh;
}
.paddle {
  --position: 50;
  position: absolute;
  background-color: var(--foreground-color);
  height: 1vh;
  width: 10vw;
  left: calc(var(--position) * 1vw);
  transform: translateX(-50%);
}

.paddle.top {
  top: 1vh;
}

.paddle.bottom {
  bottom: 1vh;
}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: var(--foreground-color);
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) * 1vw);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.score-wrapper {
  position: relative;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  display: flex;
  place-content: center;
  place-items: center;
  /* gap: 20%; */
  color: var(--foreground-color);
  font-weight: bold;
  font-size: 8vh;
}

.score-wrapper.won {
  box-shadow: 0 0 20px 4px green;
  animation: animate 350ms linear 1;
}
.score-wrapper.lost {
  box-shadow: 0 0 20px 4px red;
  animation: animate 350ms linear 1;
}

@keyframes animate {
  0% {
    transform: translateX(-10%, -2%);
  }
  25% {
    transform: translate(10%, 2%);
  }
  50% {
    transform: translate(-10%, -2%);
  }
  100% {
    transform: translate(10%, -2%);
  }
}

.score {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 4vh;
  opacity: 0.6;
}
.score-wrapper > :first-child {
  text-align: right;
  border-right: 3px solid var(--foreground-color);
}

.start-modal {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 30px;
  color: aliceblue;
  z-index: 99;
}

.start-modal.close {
  display: none;
}

button {
  outline: none;
  border: none;
  background-color: royalblue;
  width: 6vw;
  height: 6vh;
  border-radius: 6px;
  font-size: 3vmin;
}
